# Python & PyInstaller
__pycache__/
venv/
env/
.env
dist/
build/
*.spec
server.key
server.crt

# C++ / Qt & CMake
desktop_client/build/
desktop_client/CMakeCache.txt
desktop_client/CMakeFiles/
*.user

# Database, Executables & Releases
*.sqlite
ZeroTrust_Release/
Output/
*.exe

# Heavy AI Models (Distributed via GitHub Releases)
backend/core/models/

# Portable Release Folders
Zero Trust/
ZeroTrust_Gateway/
backend_engine/